@{
	ViewData["Title"] = "About";
}
<!--Breadcrumb Area-->
<section class="breadcrumb-area banner-1" style="background-image:url('/images/9.jpg');">
	<div class="text-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 v-center">
					<div class="bread-inner">
						<div class="bread-menu">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="./About.html">About Us</a></li>
							</ul>
						</div>
						<div class="bread-title">
							<h2>About Company</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Breadcrumb Area-->
<!--Start About-->
<section class="about-agency pad-tb block-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 v-center">
				<div class="about-image">
					<img src="~/images/company-about.png" alt="about us" class="img-fluid" />
				</div>
			</div>
			<div class="col-lg-6">
				<div class="common-heading text-l ">
					<span>ABOUT US </span>
					<h2>Passionate About <br> Perfection</h2>
					<p>
						Perdice IT Arrangements is a group of experts had some expertise in web structuring,
						programming improvement, Online business, undertaking arrangement services,and other IT
						Arrangements, which are the center prerequisites of the present business enterprises the
						world over.
						<br>
						perdice IT Arrangements has initiated its adventure, it has been moving towards brilliance
						in the entirety of its subject matters. Dealing with different testing and remarkable
						ventures encouraged our group of masters to improve their aptitudes regarding current
						business situation and disclosures..
					</p>
					<!-- <p>With a primary aim of maintaining Quality and Customer satisfaction, PERDICE has lucratively delivered various technical projects covering all major areas of Information Technology. Our wide areas of services ranging from programming to search engine optimization, have benefited large number of corporation and business investors from all over the globe.</p> -->
				</div>

			</div>
		</div>
	</div>
</section>


<div class="container">
	<div class="row justify-content-center text-center">
		<div class="col-lg-10">
			<div class="common-heading">
				&nbsp;
				<span>Why Us</span>
				<h1 class="mb30">
					Why Choose <span class="text-radius text-light text-animation bg-b">
						Perdice
						Solutions
					</span>
				</h1>
				<p>
					PERDICE IT Arrangements is a group of experts had some expertise in web structuring, programming
					improvement, Online business, undertaking arrangement services,and other IT Arrangements, which
					are the center prerequisites of the present business enterprises the world over.
				</p>
				<p>
					<span class="text-bold">PERDICE </span>IT Arrangements has initiated its adventure, it has been
					moving towards brilliance in the entirety of its subject matters. Dealing with different testing
					and remarkable ventures.
				</p>
				&nbsp;

			</div>
		</div>
	</div>
</div>
<section class="why-choose pad-tb">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<!-- <div class="common-heading">
				  <span>We Are Awesome</span>
				  <h2 class="mb30">Why Choose Us</h2>
				</div> -->
			</div>
		</div>
		<div class="row upset">
			<div class="col-lg-4 col-sm-6 mt30">
				<div class="s-block up-hor">
					<!-- <div class="s-card-icon"><img src="images/icons/research.svg" alt="service" class="img-fluid"/></div> -->
					<h2>Our Mission</h2>
					<p>
						To serve location globally: To be the world’s preferred location based services company. We
						aspire to developing employees who are seen as tech industry thought leaders and who produce
						leading edge technology.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mt30">
				<div class="s-block up-hor">
					<!-- <div class="s-card-icon"><img src="images/icons/chat.svg" alt="service" class="img-fluid"/></div> -->
					<h2>Our Vision</h2>
					<p>
						Our vision is to unleash the full potential of the amazing pool of the software engineers in
						Vietnam by providing world class outsourcing services.To be recognised by customers
						worldwide, as a specialist supplier of LBS infrastructure.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mt30">
				<div class="s-block up-hor">
					<!-- <div class="s-card-icon"><img src="images/icons/monitor.svg" alt="service" class="img-fluid"/></div> -->
					<h2>Our Values</h2>
					<p>
						Our values are based on four pillars: ‘Commitment, Quality, Integrity and Care’. We have been
						working in the industry with strong commitment, which is ensuring your absolute satisfaction
						and meeting your ultimate goals.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
	&nbsp;
<!-- <section class="about-values" style="background-color: #0;"> -->
<div class="container">
	<div class="row justify-content-center g-3 g-lg-5 mb-3 mb-lg-5">
		<div class="col-12">
			<h2 class="white">Our Values</h2>
		</div>
		<div class="col-6 col-lg-3">
			<svg height="65" width="65"
				 style="padding: 1rem; background: linear-gradient(90deg, #D95E57 0%, #9C453E 100%); fill: white; margin-bottom: 1rem;"
				 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path d="M447.1 272.2c-8.766-1.562-16.97 4.406-18.42 13.12C415.3 370.3 342.3 432 255.1 432c-49.96 0-95.99-21.56-128.5-56.8l59.88-59.88C191.9 310.8 193.3 303.8 190.8 297.9C188.3 291.9 182.5 288 176 288h-128C39.16 288 32 295.2 32 304v128c0 6.469 3.891 12.31 9.875 14.78C43.86 447.6 45.94 448 48 448c4.156 0 8.25-1.625 11.31-4.688l45.6-45.6C143.3 438.9 197.4 464 256 464c101.1 0 188.3-72.91 205.1-173.3C462.6 281.9 456.7 273.7 447.1 272.2zM64 393.4V320h73.38L64 393.4zM470.1 65.22C468.1 64.41 466.1 64 464 64c-4.156 0-8.25 1.625-11.31 4.688l-45.6 45.6C368.7 73.15 314.6 48 256 48c-102 0-188.3 72.91-205.1 173.3C49.42 230.1 55.3 238.3 64.02 239.8c8.766 1.562 16.97-4.406 18.42-13.12C96.69 141.7 169.7 80 256 80c49.96 0 96.02 21.56 128.6 56.8l-59.88 59.88c-4.578 4.562-5.953 11.47-3.469 17.44C323.7 220.1 329.5 224 336 224h128C472.8 224 480 216.8 480 208v-128C480 73.53 476.1 67.69 470.1 65.22zM448 192h-73.38L448 118.6V192z">
				</path>
			</svg>
			<h5 class="white">We Are Transformative</h5>
			<p class="white">
				Resolving our clients’ problems and building successful creative and digital difference
				through inspiring solutions.
			</p>
		</div>

		<div class="col-6 col-lg-3">
			<svg height="65" width="65"
				 style="padding: 1rem; background: linear-gradient(90deg, #5055DF 0%, #3C40A7 100%); fill: white; margin-bottom: 1rem;"
				 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path d="M184 32c13.3 0 24 10.7 24 24V200l0 0v96c0 30.9 25.1 56 56 56c15.7 0 29.8-6.4 40-16.8c10.2 10.4 24.3 16.8 40 16.8c30.9 0 56-25.1 56-56V232 176 120c0-13.3 10.7-24 24-24s24 10.7 24 24V336c0 79.5-64.5 144-144 144h-8.5c-57.3 0-112.2-22.8-152.7-63.3L39 313c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l59.7 59.7c4.6 4.6 11.5 5.9 17.4 3.5s9.9-8.3 9.9-14.8V56c0-13.3 10.7-24 24-24zM288 296c0 13.3-10.7 24-24 24s-24-10.7-24-24V199.9c0-13.2 10.8-23.9 24-23.9c13.3 0 24 10.7 24 24l0 8v24 64zm32-64c0-13.3 10.7-24 24-24s24 10.7 24 24v64c0 13.3-10.7 24-24 24s-24-10.7-24-24V232zm48-50.6c-7.3-3.5-15.4-5.4-24-5.4c-9.7 0-18.8 2.5-26.7 6.8C310 160.3 288.9 144 264 144c-8.6 0-16.7 1.9-24 5.4L240 80l0 0V56c0-30.9-25.1-56-56-56s-56 25.1-56 56V288.8L95.6 256.4c-21.9-21.9-57.3-21.9-79.2 0s-21.9 57.3 0 79.2L120.2 439.4C166.7 485.9 229.8 512 295.5 512H304c97.2 0 176-78.8 176-176V120c0-30.9-25.1-56-56-56s-56 25.1-56 56v56 5.4z">
				</path>
			</svg>
			<h5 class="white">We Are Passionate &amp; Committed</h5>
			<p class="white">
				Excited by our clients’ businesses and dedicated not just to them, but also each other,
				every single day.
			</p>
		</div>

		<div class="col-6 col-lg-3">
			<svg height="65" width="65"
				 style="padding: 1rem; background: linear-gradient(90deg, #E9C159 0%, #A4833B 100%); fill: white; margin-bottom: 1rem;"
				 xmlns="http://www.w3.org/2000/svg"
				 viewBox="0 0 512 512">
				
				<path d="M32 400C32 426.5 53.49 448 80 448H496C504.8 448 512 455.2 512 464C512 472.8 504.8 480 496 480H80C35.82 480 0 444.2 0 400V48C0 39.16 7.164 32 16 32C24.84 32 32 39.16 32 48V400zM336 128H464C472.8 128 480 135.2 480 144V272C480 280.8 472.8 288 464 288C455.2 288 448 280.8 448 272V182.6L331.3 299.3C325.1 305.6 314.9 305.6 308.7 299.3L223.1 214.6L123.3 315.3C117.1 321.6 106.9 321.6 100.7 315.3C94.44 309.1 94.44 298.9 100.7 292.7L212.7 180.7C218.9 174.4 229.1 174.4 235.3 180.7L320 265.4L425.4 160H336C327.2 160 320 152.8 320 144C320 135.2 327.2 128 336 128L336 128z">
				</path>
			</svg>
			<h5 class="white">We Are Ambitious</h5>
			<p class="white">
				Fearless. Bold. Daring. Our creative and digital team are brave in our actions and
				faithful to innovation.
			</p>
		</div>

		<div class="col-6 col-lg-3">
			<svg height="65" width="65"
				 style="padding: 1rem; background: linear-gradient(90deg, #6A736B 0%, #535B54 100%); fill: white; margin-bottom: 1rem;"
				 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
				<path d="M255.9 415.1H128.1c-8.846 0-15.98 7.179-15.97 16.03L112.1 454.3c.0098 6.273 1.81 12.47 5.284 17.69l17.14 25.69c5.225 7.855 17.2 14.28 26.64 14.28h61.67c9.418 0 21.39-6.436 26.61-14.28l17.08-25.68c2.953-4.441 5.341-12.37 5.348-17.7l-.0521-22.33C271.8 423.2 264.7 415.1 255.9 415.1zM239.9 454.4l-16.11 24.45c-.4766 .4336-1.686 1.082-.8672 1.117l-60.29 .1172c-.4238-.1055-1.138-.2793-1.423-.2793c-.1406 0-.1348-.2265 0 0l-17.1-25.48l-.0098-6.37h95.94l.0039 5.179C239.9 453.6 239.7 454.4 239.9 454.4C239.9 454.4 239.8 454.5 239.9 454.4zM315.8 51.3c-33.33-33.22-78.22-52.47-124.3-51.28C94.7 .2944 16 79.89 16 177.4c0 42.9 15.47 84.34 43.55 116.6c13.33 15.31 35.84 49.59 43.73 76.02c1.078 8.687 8.844 14.62 17.64 13.72c8.703-.9687 14.98-8.968 14.11-17.65l-.6094-3.312c-10.31-34.97-36-72.84-50.73-89.77C60.67 246.5 48 212.6 48 177.4c0-81.24 63.05-145.1 143.5-145.3H192c38.13 0 74.05 14.87 101.2 41.93C320.8 101.5 336 138.2 336 177.4c0 35.18-12.67 69.15-35.67 95.62c-14.75 16.94-40.44 54.81-50.75 89.77l-.625 3.343c-1.047 8.749 4.938 17.59 13.67 18.69c.7813 .0938 1.531 .1562 2.281 .1562c7.797 0 14.36-5.124 15.36-13.12c8.344-28.25 30.86-62.52 44.2-77.84C352.5 261.7 368 220.3 368 177.4C368 129.7 349.5 84.89 315.8 51.3zM208 80.01c0-8.843-7.156-16-16-16c-61.75 0-112 50.24-112 111.1C80 184.8 87.16 192 96 192s16-7.158 16-16c0-44.1 35.88-79.1 80-79.1C200.8 96.01 208 88.86 208 80.01z">
				</path>
			</svg>
			<h5 class="white">We Are Creative Thought Leaders</h5>
			<p class="white">
				Leading rather than following, with free thinking moulding our everyday processes and
				strategies.
			</p>
		</div>
	</div>
	<!-- <div class="row justify-content-center">
			<div class="col-11 col-md-12">
				<a href="/about-us/our-values" class="btn">Discover more</a>
			</div>
		</div> -->
</div>
	</section>
<!--End About-->
<!--Start why-choose-->
	&nbsp;
<section class="why-choose pad-tb">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="common-heading">
					<span>We Are Awesome</span>
					<h2 class="mb30" style="color:white">Why Choose Us</h2>
				</div>
			</div>
		</div>
		<div class="row upset">
			<div class="col-lg-3 col-sm-6 mt30">
				<div class="s-block up-hor">
					<div class="s-card-icon">
						<img src="~/images/icons/research.svg" alt="service" class="img-fluid" />
					</div>
					<h4>Reasearch and Analysis</h4>
					<p>
						Research and analysis are two key components of the scientific method. Research involves
						gathering information and data on a particular topic or question.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt30">
				<div class="s-block up-hor">
					<div class="s-card-icon">
						<img src="~/images/icons/chat.svg" alt="service" class="img-fluid" />
					</div>
					<h4>Negotiation and power</h4>
					<p>
						Negotiation and power are closely related concepts, as the balance of power between parties
						can have a significant impact on the outcome of a negotiation.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt30">
				<div class="s-block up-hor">
					<div class="s-card-icon">
						<img src="~/images/icons/monitor.svg" alt="service" class="img-fluid" />
					</div>
					<h4>Creative and innovative solutions</h4>
					<p>
						Creative and innovative solutions refer to unique and unconventional ways of addressing
						problems or challenges with dedication and motivation.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt30">
				<div class="s-block up-hor">
					<div class="s-card-icon">
						<img src="~/images/icons/trasparency.svg" alt="service"
							 class="img-fluid" />
					</div>
					<h4>Trasparency and ease of work</h4>
					<p>
						Transparency and ease of work are important concepts that can help to improve efficiency,
						accountability, and trust within organizations.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
	&nbsp;
<section class="cta-area pad-tb">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="common-heading">
					<span>Let's work together</span>
					<h2>We Love to Listen to Your Requirements</h2>
					<a href="javascript:void(0)" class="btn-outline">
						Estimate Project <i class="fas fa-chevron-right fa-icon"></i>
					</a>
					<!-- <p class="cta-call">Or call us now <a href="tel:+1234567890"><i class="fas fa-phone-alt"></i> (123) 456
					7890</a></p> -->
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="shape shape-a1"><img src="images/shape/shape-3.svg" alt="shape" /></div>
	<div class="shape shape-a2"><img src="images/shape/shape-4.svg" alt="shape" /></div>
	<div class="shape shape-a3"><img src="images/shape/shape-13.svg" alt="shape" /></div>
	<div class="shape shape-a4"><img src="images/shape/shape-11.svg" alt="shape" /></div> -->
</section>
<!--End why-choose-->